<mat-card class="">
  <mat-card-content>
    <h1 class="text-center mb-0">Current Balance</h1>
    <h1 class="text-center mb-0 text-success">{{counter}}</h1>
    <h2 class="text-center">Chips</h2>
    <h2 style="background-color: #f5f5f5;" class="p-2">Recents:</h2>

    <p>No data to display</p>
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <div><h2>Added Chips by Paytm</h2>
      <h4>17/05/20 8:15 PM</h4></div>
      <div>
        <p class="text-right">(+) 50</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
