mat-card-header {
  margin-left:550px;
}

.result{
  margin-left: 100px;
}

p{
  font-size: large;
}

mat-form-field{
  width: 1000px;
}

.updateBtn{
  border-radius: 25px;
  font-size: 15px;
}

.userViewBtn{
  font-size: 20px;
}
