<mat-card class="w-100 mat-elevation-z0" style="max-width: 760px; margin: auto !important;">
    <mat-card-content *ngIf="loginForm">
        <div class="text-center">
            <img src="./../../../assets/images/ludo.png" alt="" srcset="" style="max-width: 160px;">
        </div>
        <p class="mt-5 text-center" style="font-size: large;border-bottom: 1px solid gainsboro;">Please login to play now</p>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <div  fxLayout="row" fxLayoutAlign="space-between center" >
                <mat-form-field class="w-100 custom  pb-1" appearance="outline">
                    <mat-label>Mobile No.</mat-label>
                    <input matInput style="border-radius: 50px;" formControlName="phone"
                    type="number"
                    required
                    placeholder="Your Mobile No.">
                    <span matSuffix><mat-icon class="mat-18">settings_cell</mat-icon></span>
                </mat-form-field>
            </div>
            <mat-form-field class="w-100 custom  pb-1" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput style="border-radius: 50px;" formControlName="password"
                type="text"
                required
                placeholder="Enter password">
                <span matSuffix><mat-icon class="mat-18">lock</mat-icon></span>
            </mat-form-field>
          
            <div class="text-center">
                <button style="width: 180px;" mat-raised-button color="primary">
                    <mat-icon class="mat-18">login</mat-icon>
                    Login</button>
                <p style="font-size: large" class="mt-3">
                    <a [routerLink]="['/signup']">Not a user? Register</a>
                </p>
            </div>
        </form>
    </mat-card-content>
</mat-card>