.chipscard{
  border-top: 2px solid #00c0ef;
}


input{
  border-radius: 10rem;
}

p{
  margin-left: 75px;
}

.updatebtn{
  border-radius: 25px;
  font-size: 15px;
}


.requestcard{
  border-top: 2px solid #d2d6de;
}
