<div class="text-center" style="max-width: 760px !important; margin: auto !important;">
    <div class="ludo-logo"><img src="../../../assets/images/ludo.png" alt="" srcset=""></div>
    <div class="ludo-main mt-5">
        <div class="m-3">
            <button class="w-100" mat-raised-button [routerLink]="['/login']" routerLinkActive="router-link-active"  color="primary">Login
                <mat-icon class="mat-18">login</mat-icon>
            </button>
        </div>
        <div class="m-3">
            <button mat-raised-button [routerLink]="['/signup']" class="w-100" routerLinkActive="router-link-active"  color="accent">Register Now
                <mat-icon class="mat-18">perm_identity</mat-icon>
            </button>
        </div>
    </div>
</div>